p::first-letter {
    font-size: 300%;
    font-weight: bold;
    color: rgb(11, 85, 60);
    text-align: justify;
}

h1 {
    text-align: center;
    color: #bf4919;
}

p {
    text-align: justify;
    letter-spacing: 2px;
}

::selection {
    background-color: rgb(215, 241, 162);
}