 h1 {
     background-color: blueviolet;
     width: 300px;
     font-size: 1.8em;
     border: 5px solid black;
     margin: 20px auto;
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     font-weight: lighter;
     color: brown;
 }

 h1:nth-of-type(2n) {
     background-color: #40ff00;
 }

 h1:nth-of-type(3n) {
     background-color: #ff8000;
 }

 h1:nth-of-type(4n) {
     background-color: #bf00ff;
 }

 h1:nth-of-type(5n) {
     background-color: #ff0040;
 }

 h1:nth-of-type(6n) {
     background-color: #ffff00;
 }

 section:first-of-type h1:nth-of-type(1) {
     /*transform-origin: bottom right;*/
     transform: rotate(45deg);
 }

 section:first-of-type h1:nth-of-type(2) {
     /* transform-origin: bottom right;*/
     transform: translate(0);
 }

 section:first-of-type h1:nth-of-type(3) {
     transform: translate(-200px 100px);
 }

 section:first-of-type h1:nth-of-type(4) {
     transform: translate(200px);
 }

 section:nth-of-type(2) h1:nth-of-type(1) {
     transform: skew(-210deg);
 }

 section:nth-of-type(2) h1:nth-of-type(2) {
     transform: skew(-30deg, 45deg);
 }

 section:nth-of-type(2) h1:nth-of-type(3) {
     transform: rotate(90deg) scale(2);
 }

 section:nth-of-type(2) h1:nth-of-type(4) {
     transform: translateX(-500px) rotate(0.5turn) scaleY(1.5);
 }

 section:nth-of-type(2) {
     transform: scale(0.7);
     translate: -500px;
 }