footer {

    background-color: rgb(180, 164, 164);
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}