* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../images/serena_img_4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*.serena {
    width: 800x;
    height: 800x;
} */